﻿@using COMMON.Entidades
@using BIZ
@using BIZ.Managers
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach (var item in carreras)
{
    @item.Id @item.Nombre  <br/>    
}

@code{
    List<Carrera> carreras;
    CarreraManager carreraManager = FabricManager.CarreraManager();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        carreras = carreraManager.ObtenerTodos;
    }
}
